{% extends "base.html.twig" %}

 {% block body %}

     <div class="ui segment">
         <div class="ui input" style="width: 80%;">
             <input type="text" name="newUrl" id="newUrl" placeholder="New url...">
             <i class="plus icon big link" id="addUrl"></i>
             <a href="{{ path('export_url') }}" target="_blank" title="XML export">
                 <i class="file big code icon link" id="exportXML"></i>
             </a>
         </div>

     </div>


     <a href="{{ path('edit_url') }}" style="display: none;" id="urlEdit"></a>
     <a href="{{ path('delete_url') }}" style="display: none;" id="urlDelete"></a>
     <a href="{{ path('add_url') }}" style="display: none;" id="urlAdd"></a>


     <table id="datosGestion" class="ui celled table responsive nowrap" style="width:100%">
         <thead>
         <tr>
             <th>Action</th>
             <th>Bookmark</th>
             <th>Date</th>
             <th>Share</th>
         </tr>
         </thead>
         <tbody>

         {% for Bookmarks in data %}
             <tr>
                 <td>{# colum for manage#}
                     <div id="actions_{{ Bookmarks.id }}">

                         <a href="#" id="editUrl_{{ Bookmarks.id }}" title="Edit">
                             <i class="edit icon large"></i>
                         </a>
                         <a href="#" id="deleteUrl_{{ Bookmarks.id }}" title="Delete">
                             <i class="trash icon large "></i>
                         </a>
                     </div>

                 </td>

                 <td>{#colum for data#}
                     <a href="{{ Bookmarks.url }}" target="_blank">{{ Bookmarks.url }}</a>
                     <label id="url_{{ Bookmarks.id }}" style="display: none">{{ Bookmarks.url }}</label>
                 </td>
                 <td>{#colum for date#}
                     {{ Bookmarks.date|date("Y-m-d") }}
                 </td>
                 <td>{#colum for share#}
                     <div id="share_{{ Bookmarks.id }}">

                         <a href="{{ Bookmarks.facebookLink }}" id="shareFacebook_{{ Bookmarks.id }}" title="Share facebook">
                             <i class="facebook large icon"></i>
                         </a>
                         <a href="{{ Bookmarks.twitterLink }}" target="_blank" id="shareTwitter_{{ Bookmarks.id }}" title="Share twitter">
                             <i class="twitter large icon"></i>
                         </a>
                     </div>
                 </td>
             </tr>
         {% endfor %}
         </tbody>
     </table>


     {# delete modal #}
     <div class="ui modal deleteBookmark" style="width: 50%;">
         <i class="close icon"></i>
         <div class="header">
             Delete bookmark
         </div>
         <div class="ui input" style="margin-left: 5%; width: 90%;">
             Are you sure?
         </div>
         <div class="actions">
             <div class="ui cancel button">Cancel</div>
             <div class="ui approve button">OK</div>
         </div>
     </div>

     {# edit modal #}
     <div class="ui modal editBookmark" style="width: 50%;">
         <i class="close icon"></i>
         <div class="header">
             Edit bookmark
         </div>
         <div class="ui input" style="margin-left: 5%; width: 90%;">
             <input type="text" name="editUrlInput" id="editUrlInput">
         </div>
         <div class="actions">
             <div class="ui cancel button">Cancel</div>
             <div class="ui approve button">OK</div>
         </div>
     </div>

     {% include  "comun.html.twig" %}

 {% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/bookmark.js') }}"></script>
{% endblock %}

